
.container {
  padding: 5vw;
  margin-bottom: 0;
  padding-top: 0%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1{
  font-size:2.5rem;
  padding: 0%;
  margin: 0%;
}
.box {
  width: 80%;
  max-width: 1200px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info {
  width: 70%;
  padding: 3%;

}
.info p{
  font-size: 1em;
}
.box h2{
  font-size:1.5rem;
  margin: 10px 0;
}
.box img {
  max-width: 100%;
  height: auto;
  padding: 1%;
}

.box-right {
  flex-direction: row-reverse;
}

.info-right {
  text-align: left;
}

.images {
  width: 27%;
  height: 27%;
}

.fade-left {
  animation: fadeInLeft 1s ease forwards;
  opacity: 0;
  transform: translateX(-50px);
}

.fade-right {
  animation: fadeInRight 1s ease forwards;
  opacity: 0;
  transform: translateX(50px);
}


.yellow {
  color: FFD369;
}
@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 1000px) {
  .container h1{
    font-size:1.7rem;
  }
  .info p{
    font-size: 0.8rem;
  }
  .box h2{
    font-size:1rem;
  }
  
}
@media only screen and (max-width: 768px) {
  .container h1{
    font-size:1.4rem;
  }
  .box{
    max-width: 90%;
    flex-direction: column;
  }
  .info p{
    font-size: 0.8rem;
  }
  .box h2{
    font-size:0.8rem;
  }
  .info {
    padding: 2%;
    width: 100%;
  }
  .images{
   height: 100%;
   width: 100%;
  }
}