.achievement-section {
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
  .map-gif {
    flex:1;
    max-width: 100%;
    overflow: hidden;
    height:auto;
  }
  
  .map-gif img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .text-content {
    align-content: center;
    padding-top: 7%;
    width: 30%;
    padding-left: 20px;
    height:auto;
    display:block;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  
  .achievement-item {
    margin-bottom: 30px;
    padding-left: 10%;
  }
  
  h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  
  .numbers{
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(14, 14, 143);
    padding: 5px;
  }

  .header_achievement{
    padding:10px;
    text-align: center;
  }

  .number_text{
    display: inline;
    padding: 0px 10px 0px 10px;
  }