/* ContactForm.css */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    width: 40%;
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .form-container {
    width: 60%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  