/* Footer.css */

.footer {
  background-color: #BBE1FA;
  padding: 20px;
  text-align: center;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: left; /* Set text alignment to left */
  color: #081F37;
  
}

.items {
  align-items: flex-start;
  text-align: left; /* Set text alignment to left */
  text-decoration: none;
  color: #081F37;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-divider {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #1f1f2d;
  margin-bottom: 20px;
}

.footer-company {
  font-size: 14px;
  color: #081F37;
}
