/* OurTeam.css (or your component-specific CSS file) */

.our-team {
    position:relative;
    text-align: center;
    padding: 20px;
    z-index: 2;
  }
  
  .our-team h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  
  