/* ScrollButton.css */
.scroll-button {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Adjust the left position for the front page */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px; /* Adjust padding for a smaller size */
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.scroll-button.show {
    opacity: 1;
    visibility: visible;
}

.scroll-button span {
    font-size: 18px; /* Adjust the font size for a smaller icon */
}

/* Adjust the position for the rest of the page */
body:not(.front-page) .scroll-button {
    right: 20px;
    left: auto;
}

