/* ScrollButton.css */
.scroll-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .scroll-button.show {
    opacity: 1;
    transform: scale(1);
  }
  
  .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #081F37, #68869A);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .button-text {
    opacity: 0;
    transition: opacity 0.3s;
    font-size:0.8em;
  }
  
  .button-text.hovered {
    opacity: 1;
  }
  .message{
    height:25px;
    width:25px;
    filter: invert(100%) hue-rotate(180deg);
  }
  /* Adjust the position for the rest of the page */
  body:not(.front-page) .scroll-button {
    right: 20px;
    left: auto;
  }
  
  .scroll-button:hover .button-content {
    background-color: #007bff;
    transition: all 0.3s ease;
  }
  